.App {
  height: 100%;
}

.App-logo {
  overflow: hidden;
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  height: 62px;
  padding-left: 16px;
  gap: 12px;
  font-size: 22px;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  background-color: #f0f0f0;
  border-bottom: 2px solid rgba(0, 4, 255, 0.158);
  flex: 0 0 62px;
}

.Header-info{
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  align-items: center; 
  padding: 16px;
}
@keyframes Gradient {
  0% {
    color: inherit;
  }
  100% {
    color: #8b93e2;
  }
}

.Header-info {
  transition: color 0.3s ease-in-out;
}

.Header-info:hover {
  color: #8b93e2;
}

.App-link {
  color: rgb(112, 76, 182);
}