.App {
  text-align: center;
  background-color: #f0f0f0;
  height: 100vh;
}

.App-logo {
  overflow: hidden;
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  height: 62px;
  padding-left: 16px;
  gap: 12px;
  font-size: 22px;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.App-link {
  color: rgb(112, 76, 182);
}